/* :root {
  font-size: 16px;
}

.main-register-container {
  height: 100vh;
  display: flex;
  background-image: linear-gradient(to right, #000000, #1c1c1c);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  font-family: "Fira Code";
  animation: fade-in 0.5s ease;
}

.register-box {
  display: flex;
  width: 90%;
  height: 90%;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: transparent;
  animation: fade-in 0.5s ease;
}

.register-box-left {
  width: 57%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: slide-in-left 0.5s ease;
}

.register-box-left h1 {
  width: 57%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Fira Code";
  font-size: 3em;
  margin-bottom: 10%;
}

.register-box-right {
  width: 43%;
  background-color: transparent;
  display: flex;
  color: wheat;
  flex-direction: column;
  animation: slide-in-right 0.5s ease;
}

.heading-box {
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17%;
  animation: slide-in-top 0.5s ease;
}

.heading-box h2 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  font-family: "Fira Code";
  color: white;
}

.form-box {
  height: 57%;
  background-color: transparent;
  width: 100vh;
  animation: fade-in 0.5s ease;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  text-align: center;
  margin-top: 5%;
}

.form-group input {
  height: 20%;
  width: 50%;
  margin-bottom: 4%;
  margin-left: 5%;
  background-color: transparent;
  border: none;
  border-bottom: 0.125rem solid white;
  outline: none;
  font-size: 1.2rem;
  color: white;
  font-family: "Fira Code";
  border: 2px solid white;
  padding-left: 1%;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input::placeholder {
  color: #ccc;
  font-size: 1.2rem;
  opacity: 1;
  font-family: "Fira Code";
}

.form-group input:focus {
  border-color: #feb47b;
  box-shadow: 0 0 10px #feb47b;
  outline: none;
}

.form-group input:not(:placeholder-shown) {
  font-size: 1.2rem;
  color: white;
  font-family: "Fira Code";
}

.form-group input:-webkit-autofill,
.form-group input:-webkit-autofill:hover,
.form-group input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.form-group input:-moz-autofill {
  box-shadow: 0 0 0 1000px transparent inset !important;
  color: white !important;
}

.form-group label {
  height: 20%;
  width: 50%;
  color: white;
  margin-bottom: 2%;
  text-align: left;
  margin-left: 5%;
}

.button-box {
  height: 33%;
  background-color: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: "Fira Code";
  border: none;
  flex-direction: column;
  animation: slide-in-right 0.5s ease;
}

.button-box p {
  text-align: center;
  justify-content: center;
  font-family: "Fira Code";
  border: none;
  color: white;
}

.button-box a {
  text-align: center;
  justify-content: center;
  font-family: "Fira Code";
  border: none;
  color: white;
}

.button-box button {
  height: 20%;
  width: 50%;
  font-family: "Fira Code";
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: transparent;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.button-box button:hover {
  background-color: #ffffff;
  color: #1c1c1c;
  border: 2px solid #ffffff;
  box-shadow: 0 0.375rem 0.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.125rem) scale(1.05);
}

.button-box button:active {
  background-color: #feb47b;
  color: #1c1c1c;
  border: 2px solid #feb47b;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  transform: translateY(0.0625rem) scale(1.02);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-top {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */


:root {
  font-size: 16px;
}

.main-register-container {
  height: 100vh;
  display: flex;
  background-image: linear-gradient(to right, #000000, #1c1c1c);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  font-family: "Fira Code";
  animation: fade-in 0.5s ease;
}

.register-box {
  display: flex;
  width: 90%;
  height: 90%;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: transparent;
  animation: fade-in 0.5s ease;
}

.register-box-left {
  width: 57%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: slide-in-left 0.5s ease;
}

.register-box-left h1 {
  width: 80%; /* Adjusted to ensure better fit */
  background-color: transparent;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Fira Code";
  font-size: 2.5em; /* Adjusted for better fit */
  margin-bottom: 10%;
}

.register-box-right {
  width: 43%;
  background-color: transparent;
  display: flex;
  color: wheat;
  flex-direction: column;
  animation: slide-in-right 0.5s ease;
}

.heading-box {
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17%;
  animation: slide-in-top 0.5s ease;
}

.heading-box h2 {
  margin: 0;
  font-size: 1.5em; /* Adjusted for better fit */
  font-weight: bold;
  font-family: "Fira Code";
  color: white;
}

.form-box {
  height: 57%;
  background-color: transparent;
  width: 100%; /* Adjusted to ensure better fit */
  animation: fade-in 0.5s ease;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  text-align: center;
  margin-top: 5%;
}

.form-group input {
  height: 3em; /* Adjusted for better fit */
  width: 80%; /* Adjusted to ensure better fit */
  margin-bottom: 4%;
  margin-left: 10%; /* Centered on smaller screens */
  background-color: transparent;
  border: none;
  border-bottom: 0.125rem solid white;
  outline: none;
  font-size: 1.2rem;
  color: white;
  font-family: "Fira Code";
  border: 2px solid white;
  padding-left: 1%;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input::placeholder {
  color: #ccc;
  font-size: 1.2rem;
  opacity: 1;
  font-family: "Fira Code";
}

.form-group input:focus {
  border-color: #feb47b;
  box-shadow: 0 0 10px #feb47b;
  outline: none;
}

.form-group input:not(:placeholder-shown) {
  font-size: 1.2rem;
  color: white;
  font-family: "Fira Code";
}

.form-group input:-webkit-autofill,
.form-group input:-webkit-autofill:hover,
.form-group input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.form-group input:-moz-autofill {
  box-shadow: 0 0 0 1000px transparent inset !important;
  color: white !important;
}

.form-group label {
  height: 20%;
  width: 80%; /* Adjusted to ensure better fit */
  color: white;
  margin-bottom: 2%;
  text-align: left;
  margin-left: 10%; /* Centered on smaller screens */
}

.button-box {
  height: 33%;
  background-color: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: "Fira Code";
  border: none;
  flex-direction: column;
  animation: slide-in-right 0.5s ease;
}

.button-box p {
  text-align: center;
  justify-content: center;
  font-family: "Fira Code";
  border: none;
  color: white;
}

.button-box a {
  text-align: center;
  justify-content: center;
  font-family: "Fira Code";
  border: none;
  color: white;
}

.button-box button {
  height: 3em; /* Adjusted for better fit */
  width: 80%; /* Adjusted to ensure better fit */
  font-family: "Fira Code";
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: transparent;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.button-box button:hover {
  background-color: #ffffff;
  color: #1c1c1c;
  border: 2px solid #ffffff;
  box-shadow: 0 0.375rem 0.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.125rem) scale(1.05);
}

.button-box button:active {
  background-color: #feb47b;
  color: #1c1c1c;
  border: 2px solid #feb47b;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  transform: translateY(0.0625rem) scale(1.02);
}

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-top {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Media Queries */
@media (max-width: 1200px) {
  .register-box {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .register-box-left,
  .register-box-right {
    width: 100%;
    height: auto;
    padding: 1rem;
  }

  .register-box-left h1 {
    font-size: 2em;
  }

  .form-group input,
  .form-group label,
  .button-box button {
    width: 90%;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .register-box-left h1 {
    font-size: 1.8em;
  }

  .heading-box h2 {
    font-size: 1.8em;
  }

  .form-group input,
  .form-group label,
  .button-box button {
    width: 90%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .register-box-left h1 {
    font-size: 1.6em;
  }

  .heading-box h2 {
    font-size: 1.6em;
  }

  .form-group input,
  .form-group label,
  .button-box button {
    width: 90%;
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .register-box-left h1 {
    font-size: 1.4em;
  }

  .heading-box h2 {
    font-size: 1.4em;
  }

  .form-group input,
  .form-group label,
  .button-box button {
    width: 90%;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .register-box-left h1 {
    font-size: 1.2em;
  }

  .heading-box h2 {
    font-size: 1.2em;
  }

  .form-group input {
    height: 2.5em;
    font-size: 1rem;
  }

  .button-box button {
    font-size: 1rem;
    height: 2.5em;
  }
}