.main-container {
  display: flex;

  height: 100vh;
  background-image: linear-gradient(to right, #000000, #1c1c1c);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



@media (max-width: 768px) {
  .main-container {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .main-container {
    padding: 0.5rem;
  }
}
