.right-dashboard {
  position: absolute;
  left: 32%;
  top: 10%;
  margin-right: 10%;
  width: 64%;
  height: 70%;

  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1.8em;
  /* border: 1px solid white; */


}


.right-dashboard-header {
  width: 100%;
  text-align: center;

  height: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0;

  background-color: transparent;

}










.right-dashboard-header h1 {
  text-align: center;
  color: white;
  font-family: 'Fira Code', monospace;
}

.middle-box-updateprofile {
  text-align: left;

  height: 70%;
  width: 100%;
  background-color: transparent;

  flex-direction: column;
  display: flex;
  align-items: left;
  justify-content: center;
  padding-left: 1%;




}

.form-group {
  width: 80%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding-left: 5%;
  height: 30%;



}

.form-group label {
  font-family: 'Fira Code', monospace;
  font-size: 1.2em;
  white-space: nowrap;
  margin-bottom: 4%;
  color: white;
  margin-right: 10px; 
  /* background-color: black; */
  width: 30%;
  height: 30%;
  margin-right: 5%;
  display: flex;
  



}

.form-group input:disabled {
  background-color: transparent;
  cursor: not-allowed;
  border: 1px solid #ddd;
}





.middle-box-updateprofile input {
  height: 30%;
  width: 80%;
  margin-bottom: 4%;
  /* margin-left: 5%; */
  background-color: transparent;
  border: 2px double white;
  color: white;
  font-family: 'Fira Code';
  font-size: 1.2em;
  padding-left: 1%;
 
  




}

.bottom-box-updateprofile {
  text-align: left;
  height: 17%;
  width: 100%;
  background-color: transparent;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.bottom-box-updateprofile button {
  width: 30%;
  height: 50%;
  font-size: 1.8em;
  background-color: transparent;
  color: white;
  font-family: 'Fira Code';

  border: none;
    border-radius: 0.5rem; 
    cursor: pointer;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); 
   
  
 
  
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;



}

.bottom-box-updateprofile button:hover {
  
  border:2px solid white;
  box-shadow: 0 0.375rem 0.5rem rgba(0, 0, 0, 0.2); 
  transform: translateY(-0.125rem); 
}

.bottom-box-updateprofile button:active {
  
  border:2px solid white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
  transform: translateY(0.0625rem); 
}